<% provide(:title, "Contact") %>
<div class="containter">
  <h1 class="text-center">Welcome to Wikiiki</h1>
  <p class="text-center"><strong>Minh Nguyen</strong></p>
  <p class="text-center">925-123-4567</p>
  <p class="text-center">mn_misc-junk@yahoo.com</p>
</div>
